/************
main-CONTENT
************/

 .main-content {
   width: 100%;
   height: 30%;
   display: flex;
   &__preview {
     width: 40%;
     border: 2px solid yellow;
   }

   &__gallery {
     width: 60%;
     border: 2px solid tomato;
   }
 }
