/************
main-CONTENT
************/
.main-content {
  width: 100%;
  height: 300px;
  display: flex;
}
.main-content__preview {
  width: 40%;
  border: 2px solid yellow;
}
.main-content__gallery {
  width: 60%;
  border: 2px solid tomato;
}
