/******************
GENERAL styles
******************/
* {
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.wrapper {
  position: relative;
}
.content {
  background-color: #000;
  max-width: 900px;
  height: 90vh;
  margin: 4% auto 0;
}
/*************
HEADER
************/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 5% 0;
  margin-bottom: 40px;
}
/*******************
LOGO
*******************/
.logo {
  width: 50px;
  height: 50px;
}
.logo__img {
  max-width: 100%;
}
/*****************
NAVIGATION
*****************/
.navigation__list {
  display: flex;
  list-style: none;
}
.navigation__item {
  margin-right: 20px;
}
.navigation__link {
  color: #fff;
  text-decoration: none;
}
/*************
MAIN section
*************/
.main-section {
  padding: 0 5%;
  text-align: right;
}
.main-section__title {
  margin: 0 0 20px 0;
  padding: 0;
  display: inline-block;
}
/************
main-CONTENT
************/
.main-content {
  display: flex;
  flex-wrap: wrap;
}
.main-content__preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: 2px solid yellow;
  text-align: center;
}
.main-content__preview__button {
  display: inline-block;
  width: 150px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 15px 30px;
}
.main-content__preview__image {
  max-width: 90%;
  margin-bottom: 20px;
}
.main-content__gallery {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid tomato;
  text-align: center;
}
.main-content__gallery__description {
  width: 80%;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 30px;
}
.main-content__gallery__list {
  width: 90%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-content__gallery__item {
  display: inline-block;
  width: 250px;
}
.main-content__gallery__image {
  max-width: 100%;
}
@media (max-width: 800px) {
  .content {
    margin-top: 0;
  }
  .main-section {
    background: #000;
    height: 100vh;
  }
  .main-content__preview,
  .main-content__gallery {
    width: 100%;
  }
  .big-trainer {
    display: none;
  }
}
.big-trainer {
  position: absolute;
  bottom: -100px;
  right: 0;
}
.big-trainer__image {
  width: 70%;
}
