/************
main-CONTENT
************/
.main-content {
  display: flex;
  flex-wrap: wrap;
}
.main-content__preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  border: 2px solid yellow;
  text-align: center;
}
.main-content__preview__button {
  display: inline-block;
  width: 150px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 40px;
  padding: 15px 30px;
}
.main-content__preview__image {
  max-width: 90%;
  margin-bottom: 20px;
}
.main-content__gallery {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid tomato;
  text-align: center;
}
.main-content__gallery__description {
  width: 80%;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 30px;
}
.main-content__gallery__list {
  width: 90%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-content__gallery__item {
  display: inline-block;
  width: 250px;
}
.main-content__gallery__image {
  max-width: 100%;
}
@media (max-width: 800px) {
  .content {
    margin-top: 0;
  }
  .main-section {
    background: #000;
    height: 100vh;
  }
  .main-content__preview,
  .main-content__gallery {
    width: 100%;
  }
  .big-trainer {
    display: none;
  }
}
