/*****************
NAVIGATION
*****************/
.navigation__list {
  display: flex;
  list-style: none;
}
.navigation__item {
  margin-right: 20px;
}
.navigation__link {
  color: #fff;
  text-decoration: none;
}
